body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:376px;
  height:668px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:-325px;
  top:0px;
  width:701px;
  height:668px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:668px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:603px;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u3 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:148px;
  top:326px;
  width:80px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:375px;
  top:0px;
  width:325px;
  height:667px;
  font-size:14px;
  color:#CCCCCC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:668px;
}
#u7 {
  position:absolute;
  left:2px;
  top:326px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:390px;
  top:75px;
  width:70px;
  height:70px;
  font-size:12px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:470px;
  top:75px;
  width:95px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:13px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:638px;
  top:75px;
  width:50px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
  text-align:right;
  line-height:13px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:470px;
  top:98px;
  width:51px;
  height:14px;
  font-size:11px;
  color:#666666;
  text-align:right;
  line-height:13px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:10px;
  top:32px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:410px;
  top:95px;
  width:30px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:342px;
  top:32px;
  width:20px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:336px;
  top:27px;
  width:12px;
  height:12px;
  font-size:8px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u27 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:390px;
  top:612px;
  width:298px;
  height:40px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:41px;
}
#u28_img.mouseDown {
}
#u28.mouseDown {
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:390px;
  top:34px;
  width:131px;
  height:14px;
  color:#333333;
  line-height:13px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:390px;
  top:400px;
  width:98px;
  height:14px;
  font-size:14px;
  color:#333333;
  line-height:13px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:655px;
  top:400px;
  width:33px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
  line-height:13px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:470px;
  top:118px;
  width:218px;
  height:27px;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:28px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:474px;
  top:120px;
  width:211px;
  height:22px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39 {
  position:absolute;
  left:375px;
  top:159px;
  width:325px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:316px;
  top:-5px;
  width:14px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:325px;
  height:1px;
}
#u40 {
  position:absolute;
  left:390px;
  top:183px;
  width:70px;
  height:70px;
  font-size:12px;
  color:#CCCCCC;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u41 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:470px;
  top:183px;
  width:47px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:13px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:638px;
  top:183px;
  width:50px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
  text-align:right;
  line-height:13px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:470px;
  top:203px;
  width:47px;
  height:14px;
  font-size:11px;
  color:#666666;
  text-align:right;
  line-height:13px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:410px;
  top:203px;
  width:30px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:470px;
  top:226px;
  width:218px;
  height:27px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:28px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:474px;
  top:228px;
  width:211px;
  height:22px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u53 {
  position:absolute;
  left:390px;
  top:291px;
  width:70px;
  height:70px;
  font-size:12px;
  color:#CCCCCC;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u54 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:470px;
  top:291px;
  width:103px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:13px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:638px;
  top:291px;
  width:50px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
  text-align:right;
  line-height:13px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:472px;
  top:311px;
  width:28px;
  height:14px;
  font-size:11px;
  color:#666666;
  text-align:right;
  line-height:13px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:410px;
  top:311px;
  width:30px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:470px;
  top:335px;
  width:218px;
  height:27px;
  font-size:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:28px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:474px;
  top:337px;
  width:211px;
  height:22px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66 {
  position:absolute;
  left:375px;
  top:267px;
  width:325px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:316px;
  top:-5px;
  width:14px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:325px;
  height:1px;
}
#u67 {
  position:absolute;
  left:375px;
  top:376px;
  width:325px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:316px;
  top:-5px;
  width:14px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:325px;
  height:1px;
}
#u68 {
  position:absolute;
  left:325px;
  top:0px;
  width:51px;
  height:668px;
  overflow:hidden;
  touch-action:pan-y;
}
#u68_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:668px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:668px;
  overflow:hidden;
  touch-action:pan-y;
}
#u69_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:668px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u69_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
