body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:200px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
