body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:355px;
  height:40px;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:41px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:65px;
  top:24px;
  width:314px;
  height:32px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  position:absolute;
  left:35px;
  top:28px;
  width:24px;
  height:24px;
  opacity:0.800000011920929;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
