body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:200px;
  height:26px;
  font-size:16px;
  color:#333333;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:27px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
