body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:603px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:158px;
  top:158px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u6_img.mouseDown {
}
#u6.mouseDown {
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:230px;
  width:276px;
  height:131px;
  overflow:hidden;
  visibility:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:131px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:137px;
  top:84px;
  width:138px;
  height:45px;
  color:#FF6699;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:46px;
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u10 {
  position:absolute;
  left:2px;
  top:13px;
  width:134px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:84px;
  width:137px;
  height:45px;
  color:#FF6699;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:46px;
}
#u11_img.mouseDown {
}
#u11.mouseDown {
}
#u12 {
  position:absolute;
  left:2px;
  top:13px;
  width:133px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:84px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:85px;
}
#u14 {
  position:absolute;
  left:2px;
  top:34px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:14px;
  top:12px;
  width:246px;
  height:65px;
  text-align:center;
  line-height:21px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:66px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:80px;
  width:275px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:266px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u18 {
  position:absolute;
  left:116px;
  top:103px;
  width:44px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u18_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:35px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:44px;
  height:1px;
}
