body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:480px;
  width:375px;
  height:207px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:208px;
}
#u1 {
  position:absolute;
  left:2px;
  top:96px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:460px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:461px;
}
#u3 {
  position:absolute;
  left:2px;
  top:222px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:52px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:365px;
  top:52px;
  width:20px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:168px;
  top:210px;
  width:80px;
  height:80px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:154px;
  top:427px;
  width:130px;
  height:13px;
  color:#333333;
  line-height:13px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:14px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:264px;
  top:450px;
  width:39px;
  height:13px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:13px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:112px;
  top:450px;
  width:31px;
  height:13px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:13px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:162px;
  top:450px;
  width:85px;
  height:13px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:13px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:250px;
  top:451px;
  width:10px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:14px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u19 {
  position:absolute;
  left:148px;
  top:451px;
  width:10px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:14px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u20 {
  position:absolute;
  left:184px;
  top:54px;
  width:47px;
  height:18px;
  text-align:center;
  line-height:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:30px;
  top:591px;
  width:110px;
  height:83px;
  font-size:14px;
  color:#CCCCCC;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:84px;
}
#u23 {
  position:absolute;
  left:2px;
  top:34px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:154px;
  top:591px;
  width:110px;
  height:83px;
  font-size:14px;
  color:#CCCCCC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:84px;
}
#u25 {
  position:absolute;
  left:2px;
  top:34px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:275px;
  top:591px;
  width:110px;
  height:83px;
  font-size:14px;
  color:#CCCCCC;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:84px;
}
#u27 {
  position:absolute;
  left:2px;
  top:34px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:30px;
  top:494px;
  width:110px;
  height:97px;
  font-size:14px;
  color:#CCCCCC;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:98px;
}
#u29 {
  position:absolute;
  left:2px;
  top:40px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:154px;
  top:494px;
  width:110px;
  height:97px;
  font-size:14px;
  color:#CCCCCC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:98px;
}
#u31 {
  position:absolute;
  left:2px;
  top:40px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:275px;
  top:494px;
  width:110px;
  height:97px;
  font-size:14px;
  color:#CCCCCC;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:98px;
}
#u33 {
  position:absolute;
  left:2px;
  top:40px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:72px;
  top:607px;
  width:27px;
  height:13px;
  font-size:8px;
  color:#E4E4E4;
  text-align:center;
  line-height:13px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:196px;
  top:607px;
  width:22px;
  height:13px;
  font-size:8px;
  color:#E4E4E4;
  text-align:center;
  line-height:13px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:313px;
  top:607px;
  width:33px;
  height:13px;
  font-size:8px;
  color:#E4E4E4;
  text-align:center;
  line-height:13px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:41px;
  top:624px;
  width:88px;
  height:13px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:13px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:161px;
  top:624px;
  width:92px;
  height:13px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:13px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:288px;
  top:624px;
  width:84px;
  height:13px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:13px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:66px;
  top:645px;
  width:39px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:13px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:188px;
  top:645px;
  width:39px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:311px;
  top:645px;
  width:39px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:13px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:315px;
  top:527px;
  width:30px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:194px;
  top:527px;
  width:30px;
  height:30px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:70px;
  top:527px;
  width:30px;
  height:30px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
