body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:607px;
  width:375px;
  height:80px;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:81px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:537px;
  width:375px;
  height:70px;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:71px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:481px;
  width:375px;
  height:56px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:57px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:150px;
  top:500px;
  width:45px;
  height:26px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:397px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:398px;
}
#u13 {
  position:absolute;
  left:2px;
  top:190px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:42px;
  top:627px;
  width:100px;
  height:40px;
  color:#FF6699;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u14_img.mouseDown {
  left:-1px;
  top:-1px;
  width:103px;
  height:43px;
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:158px;
  top:627px;
  width:100px;
  height:40px;
  color:#FF6699;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u16_img.mouseDown {
  left:-1px;
  top:-1px;
  width:103px;
  height:43px;
}
#u16.mouseDown {
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:272px;
  top:627px;
  width:100px;
  height:40px;
  color:#FF6699;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u18_img.mouseDown {
  left:-1px;
  top:-1px;
  width:103px;
  height:43px;
}
#u18.mouseDown {
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:42px;
  top:552px;
  width:155px;
  height:40px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:217px;
  top:552px;
  width:155px;
  height:40px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u21_input:disabled {
  color:grayText;
}
#u22 {
  position:absolute;
  left:213px;
  top:500px;
  width:41px;
  height:26px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:172px;
  top:248px;
  width:70px;
  height:70px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u25 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:30px;
  top:52px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
