body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:603px;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u3 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:52px;
  width:20px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:365px;
  top:52px;
  width:20px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:172px;
  top:330px;
  width:70px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:597px;
  width:30px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:603px;
  width:104px;
  height:26px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:70px;
  top:627px;
  width:220px;
  height:43px;
  font-size:12px;
  color:#999999;
  line-height:21px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:307px;
  top:596px;
  width:32px;
  height:32px;
  font-size:14px;
  color:#CCCCCC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:353px;
  top:596px;
  width:32px;
  height:32px;
  font-size:14px;
  color:#CCCCCC;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:315px;
  top:604px;
  width:16px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:361px;
  top:604px;
  width:16px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
