body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u1 {
  position:absolute;
  left:2px;
  top:33px;
  width:371px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:84px;
  width:376px;
  height:604px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  font-size:14px;
  color:#666666;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u4 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:148px;
  top:262px;
  width:80px;
  height:80px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  font-size:14px;
  color:#666666;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u8 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:148px;
  top:262px;
  width:80px;
  height:80px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u10 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  font-size:14px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u12 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:148px;
  top:262px;
  width:80px;
  height:80px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u14 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  font-size:14px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u16 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:148px;
  top:262px;
  width:80px;
  height:80px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u18 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:20px;
  top:84px;
  width:376px;
  height:604px;
  overflow:hidden;
  touch-action:pan-y;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
