body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u1 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u0_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
