body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:218px;
  font-size:14px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:219px;
}
#u1 {
  position:absolute;
  left:2px;
  top:101px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:178px;
  top:108px;
  width:60px;
  height:60px;
  font-size:11px;
  color:#666666;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:152px;
  top:182px;
  width:111px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:27px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:301px;
  width:375px;
  height:386px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:387px;
}
#u11 {
  position:absolute;
  left:2px;
  top:185px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:52px;
  width:20px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:365px;
  top:52px;
  width:20px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:192px;
  top:122px;
  width:30px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:103px;
  top:206px;
  width:94px;
  height:26px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:27px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:212px;
  top:206px;
  width:99px;
  height:26px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:136px;
  top:246px;
  width:145px;
  height:40px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:148px;
  height:43px;
}
#u22_img.mouseDown {
}
#u22.mouseDown {
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:311px;
  width:356px;
  height:308px;
  overflow:hidden;
  touch-action:pan-x;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:308px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:55px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:56px;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:50px;
  top:11px;
  width:104px;
  height:26px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:50px;
  top:31px;
  width:82px;
  height:14px;
  font-size:9px;
  color:#999999;
  line-height:13px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:297px;
  top:21px;
  width:45px;
  height:14px;
  font-size:9px;
  color:#999999;
  text-align:right;
  line-height:13px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:55px;
  width:355px;
  height:251px;
  font-size:14px;
  color:#666666;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:252px;
}
#u34 {
  position:absolute;
  left:2px;
  top:118px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:152px;
  top:156px;
  width:50px;
  height:50px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:10px;
  top:11px;
  width:30px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:308px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:55px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:56px;
}
#u40 {
  position:absolute;
  left:2px;
  top:20px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:50px;
  top:11px;
  width:104px;
  height:26px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:50px;
  top:31px;
  width:82px;
  height:14px;
  font-size:9px;
  color:#999999;
  line-height:13px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:291px;
  top:21px;
  width:51px;
  height:14px;
  font-size:9px;
  color:#999999;
  text-align:right;
  line-height:13px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:0px;
  top:55px;
  width:355px;
  height:251px;
  font-size:14px;
  color:#666666;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:252px;
}
#u48 {
  position:absolute;
  left:2px;
  top:118px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:152px;
  top:156px;
  width:50px;
  height:50px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:10px;
  top:11px;
  width:30px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:308px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:55px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:56px;
}
#u54 {
  position:absolute;
  left:2px;
  top:20px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:50px;
  top:11px;
  width:104px;
  height:26px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:50px;
  top:31px;
  width:82px;
  height:14px;
  font-size:9px;
  color:#999999;
  line-height:13px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:291px;
  top:21px;
  width:51px;
  height:14px;
  font-size:9px;
  color:#999999;
  text-align:right;
  line-height:13px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:0px;
  top:55px;
  width:355px;
  height:251px;
  font-size:14px;
  color:#666666;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:252px;
}
#u62 {
  position:absolute;
  left:2px;
  top:118px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:152px;
  top:156px;
  width:50px;
  height:50px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:10px;
  top:11px;
  width:30px;
  height:30px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:42px;
  top:620px;
  width:330px;
  height:6px;
  font-size:14px;
  color:#CCCCCC;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:7px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-5px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:47px;
  top:628px;
  width:321px;
  height:6px;
  font-size:14px;
  color:#CCCCCC;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:7px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:54px;
  top:636px;
  width:306px;
  height:6px;
  font-size:14px;
  color:#CCCCCC;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:7px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-5px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
