body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:603px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:95px;
  width:70px;
  height:70px;
  font-size:12px;
  color:#CCCCCC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:110px;
  top:122px;
  width:95px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:13px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:340px;
  top:119px;
  width:45px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF6699;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:110px;
  top:98px;
  width:30px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:110px;
  top:143px;
  width:175px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:27px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:30px;
  top:176px;
  width:355px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:346px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:355px;
  height:1px;
}
#u17 {
  position:absolute;
  left:20px;
  top:637px;
  width:375px;
  height:50px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:52px;
  width:20px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:50px;
  top:115px;
  width:30px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:196px;
  width:70px;
  height:70px;
  font-size:12px;
  color:#CCCCCC;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u24 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:110px;
  top:223px;
  width:103px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:13px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:340px;
  top:222px;
  width:45px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF6699;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:110px;
  top:199px;
  width:27px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:110px;
  top:244px;
  width:123px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:27px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:50px;
  top:216px;
  width:30px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:30px;
  top:298px;
  width:70px;
  height:70px;
  font-size:12px;
  color:#CCCCCC;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u36 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:110px;
  top:324px;
  width:97px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:13px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:340px;
  top:321px;
  width:45px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF6699;
  text-align:right;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:110px;
  top:300px;
  width:30px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:110px;
  top:346px;
  width:179px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:27px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:50px;
  top:318px;
  width:30px;
  height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:30px;
  top:399px;
  width:70px;
  height:70px;
  font-size:12px;
  color:#CCCCCC;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u48 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:110px;
  top:425px;
  width:91px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:13px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:340px;
  top:424px;
  width:45px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF6699;
  text-align:right;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:110px;
  top:401px;
  width:35px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:110px;
  top:447px;
  width:171px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:27px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:50px;
  top:419px;
  width:30px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:30px;
  top:277px;
  width:355px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:346px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:355px;
  height:1px;
}
#u60 {
  position:absolute;
  left:30px;
  top:378px;
  width:355px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:346px;
  top:-5px;
  width:14px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:355px;
  height:1px;
}
#u61 {
  position:absolute;
  left:365px;
  top:52px;
  width:20px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:359px;
  top:47px;
  width:12px;
  height:12px;
  font-size:8px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u64 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
