body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:355px;
  height:40px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u0_input:disabled {
  color:grayText;
}
