body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:603px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:47px;
  top:626px;
  width:38px;
  height:38px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:629px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u6_img.mouseDown {
}
#u6.mouseDown {
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:8px;
  top:8px;
  width:15px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:629px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u11_img.mouseDown {
}
#u11.mouseDown {
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:8px;
  top:8px;
  width:15px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u14 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:629px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u16_img.mouseDown {
}
#u16.mouseDown {
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:8px;
  top:8px;
  width:15px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:629px;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:8px;
  top:8px;
  width:15px;
  height:15px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:40px;
  top:619px;
  width:50px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:53px;
  top:632px;
  width:24px;
  height:24px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u30 {
  position:absolute;
  left:2px;
  top:33px;
  width:371px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:168px;
  top:300px;
  width:80px;
  height:80px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u34 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
