body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:603px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:52px;
  width:20px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:365px;
  top:52px;
  width:20px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:170px;
  top:95px;
  width:71px;
  height:26px;
  font-size:11px;
  color:#808080;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:30px;
  top:126px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:45px;
  top:141px;
  width:20px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:90px;
  top:126px;
  width:235px;
  height:232px;
  font-size:14px;
  color:#CCCCCC;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:233px;
}
#u17 {
  position:absolute;
  left:2px;
  top:108px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:335px;
  top:368px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#CCCCCC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:350px;
  top:383px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:188px;
  top:186px;
  width:40px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:90px;
  top:260px;
  width:235px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:226px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:235px;
  height:1px;
}
#u25 {
  position:absolute;
  left:101px;
  top:280px;
  width:209px;
  height:48px;
  font-size:14px;
  color:#333333;
  line-height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:49px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:101px;
  top:331px;
  width:21px;
  height:26px;
  font-size:11px;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:27px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:90px;
  top:368px;
  width:235px;
  height:82px;
  font-size:14px;
  color:#CCCCCC;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:83px;
}
#u30 {
  position:absolute;
  left:2px;
  top:33px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:101px;
  top:381px;
  width:214px;
  height:32px;
  font-size:14px;
  color:#333333;
  line-height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:101px;
  top:422px;
  width:21px;
  height:26px;
  font-size:11px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:27px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:90px;
  top:463px;
  width:235px;
  height:67px;
  font-size:14px;
  color:#CCCCCC;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:68px;
}
#u36 {
  position:absolute;
  left:2px;
  top:26px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:97px;
  top:506px;
  width:21px;
  height:26px;
  font-size:11px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:27px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:129px;
  top:475px;
  width:160px;
  height:26px;
  font-size:13px;
  color:#333333;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:27px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:97px;
  top:471px;
  width:26px;
  height:26px;
  font-size:14px;
  color:#CCCCCC;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:107px;
  top:480px;
  width:7px;
  height:8px;
  font-size:14px;
  color:#CCCCCC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:9px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:30px;
  top:550px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#CCCCCC;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:45px;
  top:565px;
  width:20px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:90px;
  top:560px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#CCCCCC;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:101px;
  top:573px;
  width:5px;
  height:5px;
  font-size:14px;
  color:#CCCCCC;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:113px;
  top:573px;
  width:5px;
  height:5px;
  font-size:14px;
  color:#CCCCCC;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:124px;
  top:573px;
  width:5px;
  height:5px;
  font-size:14px;
  color:#CCCCCC;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:20px;
  top:637px;
  width:375px;
  height:50px;
  font-size:14px;
  color:#CCCCCC;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:80px;
  top:646px;
  width:256px;
  height:32px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:32px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u60 {
  position:absolute;
  left:36px;
  top:655px;
  width:15px;
  height:15px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u61 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:60px;
  top:652px;
  width:10px;
  height:20px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:14px;
}
#u62_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u63 {
  position:absolute;
  left:346px;
  top:652px;
  width:41px;
  height:26px;
  font-size:14px;
  color:#FF6699;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u63_img.mouseDown {
}
#u63.mouseDown {
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
