body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:603px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u3 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:84px;
  width:376px;
  height:52px;
  overflow:hidden;
  visibility:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:52px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:176px;
  top:14px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:20px;
  top:84px;
  width:376px;
  height:51px;
  overflow:hidden;
  touch-action:pan-x;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  font-size:14px;
  color:#1E1E1E;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
