body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:603px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:230px;
  width:276px;
  height:131px;
  overflow:hidden;
  visibility:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:131px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:84px;
  width:275px;
  height:45px;
  color:#FF6699;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:46px;
}
#u3_img.mouseDown {
}
#u3.mouseDown {
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:271px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:84px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:85px;
}
#u6 {
  position:absolute;
  left:2px;
  top:34px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:14px;
  top:12px;
  width:246px;
  height:64px;
  color:#333333;
  text-align:center;
  line-height:21px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:65px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:80px;
  width:275px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:266px;
  top:-5px;
  width:14px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u10 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u11 {
  position:absolute;
  left:2px;
  top:33px;
  width:371px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:158px;
  top:158px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u14_img.mouseDown {
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
