body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:603px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:355px;
  top:94px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:182px;
  top:600px;
  width:50px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u4_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:53px;
}
#u4_img.mouseDown {
}
#u4.mouseDown {
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:360px;
  top:99px;
  width:20px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:94px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:35px;
  top:99px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u13 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
