body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:27px;
  top:27px;
  width:6px;
  height:6px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:37px;
  top:27px;
  width:6px;
  height:6px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:47px;
  top:27px;
  width:6px;
  height:6px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:57px;
  top:27px;
  width:6px;
  height:6px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:187px;
  top:23px;
  width:41px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
  line-height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:369px;
  top:26px;
  width:18px;
  height:8px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:9px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:388px;
  top:28px;
  width:1px;
  height:4px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:371px;
  top:28px;
  width:8px;
  height:4px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:5px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:67px;
  top:27px;
  width:6px;
  height:6px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
