body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:40px;
  width:160px;
  height:160px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u1 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
