body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:260px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:263px;
  height:43px;
}
#u0_img.mouseDown {
}
#u0.mouseDown {
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
